---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Contact">
  <p class="contact-body">Matthew Bradley is a graphic designer based in Cape Town, South Africa. His clients include (but are not limited to) artists, galleries, architects, cultural institutions, restaurants,  </p>
</BaseLayout>